body {
    background-color: rgb(95, 11, 151);
}


.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 100px auto 0px auto;
}

.task {
    background-color: #fff;
    width: 600px;
    height: 200px;
    border-radius: 20px;
    margin: 15px auto 15px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    cursor: pointer;
}

.title {
    text-align: center;
}

.description {
    text-align: center;
    margin-top: 10px;
    word-wrap: break-word;
}

.when {
    color: gray;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.add {
    background: transparent;
    width: 600px;
    height: 200px;
    line-height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px auto 15px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    cursor: pointer;
}

.add span {
    text-align: center;
}

.addIcon {
    width: 60px;
    height: 60px;
    margin: 0px auto 0px auto;
}

.modal-inputs-edit {
    margin-bottom: 15px;
}